@font-face {
   font-family: 'Agrandir-Regular_2';
   font-display: swap;
   src: url('file:///C:/Users/ADMIN/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-01-21_123616/fonts/Agrandir-Regular_2/font.ttf');
}
